BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true 
AllowShortLoopsOnASingleLine: true 
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakBeforeBraces: All
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterClass: true
